#page-description {
  @include set-media(430px) {
    padding-top: 250px;
    padding-bottom: 200px;
  }

  h1 {
    @include h1;

    @include set-media(430px) {
      @include h1-mob;
    }
  }

  h2 {
    @include h2;

    @include set-media(430px) {
      @include h2-mob;
    }
  }
  .sub {
    @include text-size-1;

    @include set-media(430px) {
      margin-top: 16px;
    }
  }
}

.banner {
  padding-top: 200px;
  padding-bottom: 200px;

  @include bg-image("banner.png");
  .sub {
    margin-top: 31px;
    margin-bottom: 17px;
  }
}

.artists-banner {
  padding-top: 250px;
  padding-bottom: 200px;

  @include bg-image("Morten Harket.png");

  .sub {
    margin-top: 0;
    margin-bottom: 0;
  }
}
