#page-description {
  padding-top: 200px;
  padding-bottom: 200px;

  h1 {
    @include h1;

    @include set-media(430px) {
      @include h1-mob;
    }
  }

  h2 {
    @include h2;

    @include set-media(430px) {
      @include h2-mob;
    }
  }
  .sub {
    @include text-size-1;
    margin-top: 31px;
    margin-bottom: 17px;

    @include set-media(430px) {
      margin-top: 16px;
      margin-bottom: 17px;
    }
  }
  .sub-art {
    margin-top: 16px;
    margin-bottom: 48px;
    @include text-size-1;
  }
}

.banner {
  height: 750px;

  @include set-media(430px) {
    height: 853px;
  }
  @include bg-image("banner.png");
}

.artists-banner {
  height: 713px;
  margin-top: 50px;
  @include set-media(430px) {
    height: 730px;
    margin-top: 25px;
  }
  @include bg-image("Morten Harket.png");
}
