#page-discography {
  margin: 0 auto;
  width: 1240px;
  text-align: left;

  @include set-media(414px) {
    margin: 0;
    max-width: 414px;
    height: auto;
  }

  .item {
    width: 250px;
    margin: 25px 50px 0 0;

    @include set-media(414px) {
      width: 137px;
    }

    img {
      width: 100%;
      margin: 0;
      padding: 0;
    }

    &-name {
      max-width: 100%;
      margin-top: 10px;
      @include h4;
      word-spacing: -3px;
      color: $white;
    }

    &-date {
      @include text-size-1;
      color: $gray;
    }
  }
}

.title {
  margin-bottom: 23px;
  @include h2;

  @include set-media(414px) {
    @include h2-mob;
  }
}
