#page-discography {
  text-align: left;
  .item {
    width: 250px;
    margin: 25px 50px 0 0;

    @include set-media(414px) {
      width: 137px;
    }

    img {
      width: 100%;
    }

    // h3{
    //   @include h4;
    //   color: $white;
    // }

    &-name {
      max-width: 100%;
      margin-top: 18px;
      @include h4;
      color: $white;
    }

    &-date {
      @include text-size-1;
      color: $gray;
    }
  }
}

.title {
  margin-bottom: 23px;
  @include h2;

  @include set-media(414px) {
    @include h2-mob;
  }
}
