#footer {
  @include col-gradient($red, $purple);
  & .links-group {
    max-width: 1200px;
    margin: 0 auto;
    @include set-media(425px) {
      padding: 0 20px;
    }

    & .links-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-between;
      padding: 61px 0 74px;

      & > * {
        // flex: 1 1 310px;
        width: 310px;
        margin-bottom: 30px;
      }
    }

    .links-img {
      width: 270px;
      & > ul {
        display: flex;
        flex-wrap: wrap;
      }
    }

    .links-title {
      margin-bottom: 16px;
      @include h2-mob;
      color: $white;
    }

    a {
      @include text-size-1;
    }

    img {
      margin-right: 24px;
      margin-top: 5px;
    }

    hr {
      margin: 0;
      border: 0;
      border-bottom: 1px solid $gray;
    }
  }

  & .links-last {
    max-width: 1200px;
    margin: 0 auto;
    & > ul {
      display: flex;
      flex-wrap: wrap;
      padding: 40px 0 48px;
      @include text-size-1;
      @include set-media(425px) {
        flex-direction: column;
        padding: 20px;
      }
    }

    li:not(:last-child) {
      margin-right: 15px;

      @include set-media(425px) {
        margin-bottom: 16px;
      }
    }
  }
}
