#page-news {
  max-width: 1240px;
  margin: 8px auto 0 auto;

  @include set-media(414px) {
    width: 100%;
    height: 1239px;
  }

  .news-item,
  .news-item-2 {
    display: flex;
    flex-wrap: wrap;
    height: 286px;

    @include set-media(414px) {
      width: 100%;
      height: 500px;
    }
  }

  .news-item-2 {
    margin-top: 65px;

    @include set-media(414px) {
      margin-top: 55px;
      .foto-2 {
        order: -1;
      }
    }
  }

  .news-item {
    margin-top: 48px;
  }

  .news-info {
    max-width: 575px;
    max-height: 286px;

    margin-left: 42px;

    text-align: left;

    @include set-media(414px) {
      height: auto;
      margin-top: 43px;
      margin-bottom: 0;
      margin-left: 0;
    }
  }

  .item2 {
    margin-right: 42px;
    margin-bottom: 28px;
    margin-left: 0;

    @include set-media(414px) {
      height: auto;
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  .news-body {
    h3 {
      @include h3-cap;

      @include set-media(414px) {
        @include h3-cap-mob;
      }
    }

    p {
      @include text-size-1;

      margin-top: 30px;
      margin-bottom: 24px;

      color: $dark-gray;

      @include set-media(414px) {
        margin-top: 16px;
        padding-top: 0;
      }
    }
  }

  .news-footer {
    .news-author {
      display: flex;
      margin-bottom: 50px;

      @include set-media(414px) {
        margin-bottom: 45px;
      }
    }

    .avatar {
      width: 19px;
      height: 19px;

      background-image: url(/src/images/avatar.png);
    }

    .autor {
      margin-left: 16px;

      @include small-text;

      color: $orange;
    }

    .date {
      margin-left: 16px;

      @include small-text;

      color: $dark-gray;
    }
  }

  h2 {
    @include h2;
    text-align: center;

    @include set-media(414px) {
      @include h2-mob;
    }
  }

  .foto-1,
  .foto-2 {
    max-width: 575px;
    max-height: 286px;

    @include set-media(414px) {
      height: 186px;
      padding: 0;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .feed {
    width: 135px;
  }
}
