#page-news {
  margin: 8px auto 0 auto;
  width: 1240px;
  .news-item,
  .news-item-2 {
    display: flex;
    flex-wrap: wrap;
  }
  .news-item-2 {
    @include set-media(414px) {
      .foto-2 {
        order: -1;
      }
    }
  }

  .news-item {
    margin-top: 48px;
  }
  .news-item-2 {
    margin-top: 65px;
  }

  .news-info {
    max-width: 575px;
    height: auto;
    text-align: left;
    margin-left: 42px;

    @include set-media(414px) {
      margin-top: 50px;
    }
  }

  .item2 {
    margin-left: 0;
    margin-right: 42px;
    margin-bottom: 28px;
  }

  .news-body {
    h3 {
      @include h3-cap;
      @include set-media(414px) {
        @include h3-cap-mob;
      }
    }

    p {
      @include text-size-1;

      margin-top: 30px;
      margin-bottom: 24px;
      color: $dark-gray;

      @include set-media(414px) {
        padding-top: 16px;
      }
    }
  }

  .news-footer {
    .news-author {
      display: flex;
      margin-bottom: 50px;
    }

    .avatar {
      width: 19px;
      height: 19px;
      background-image: url(/src/images/avatar.png);
    }

    .autor {
      margin-left: 16px;
      @include small-text;

      color: $orange;
    }

    .date {
      margin-left: 16px;
      @include small-text;

      color: $dark-gray;
    }
  }

  h2 {
    @include h2;
    text-align: center;
    @include set-media(414px) {
      @include h2-mob;
    }
  }

  .foto-1,
  .foto-2 {
    width: 575px;
    height: fit-content;

    @include set-media(414px) {
      padding: 0;
    }

    // .foto-2 {
    //   order: -1;
    // }

    img {
      width: 100%;
      height: auto;
    }
  }
  .feed {
    width: 135px;
  }
}
