#page-app {
  max-width: 1240px;
  height: 483px;
  margin: 0 auto 0 auto;

  @include set-media(414px) {
    height: 722px;
  }
  text-align: center;
}

h2 {
  @include h2;

  @include set-media(414px) {
    @include h2-mob;
  }
}

.app-text {
  width: 600px;
  height: 112px;
  margin-top: 64px;

  @include text-size-1;
  color: $dark-gray;
  text-align: left;

  @include set-media(414px) {
    width: 370px;
    margin-top: 16px;
    height: 184px;
  }

  .app-text-1 {
    height: 48px;
    margin-bottom: 16px;

    @include set-media(414px) {
      height: 96px;
    }
  }
}

.iphone {
  width: 333px;
  height: 278px;
  margin-top: 48px;
  margin-left: 144px;

  @include set-media(414px) {
    margin-left: 20px;
  }
}

.app-flex {
  display: flex;
  flex-direction: row;

  @include set-media(414px) {
    display: flex;
    flex-direction: column-reverse;
  }
}
