#page-app {
  height: 583px;
  @include set-media(430px) {
    height: 822px;
  }
  text-align: center;
}

.app-text {
  width: 600px;
  height: 112px;
  margin-top: 64px;
  @include text-size-1;
  color: $dark-gray;
  text-align: left;
  @include set-media(430px) {
    margin-top: 16px;
    width: 370px;
    height: 184px;
  }
  @include set-media(376px) {
    margin-top: 16px;
    width: 340px;
    height: 184px;
  }
}

.iphone {
  width: 333px;
  height: 278px;
  margin-top: 48px;
  margin-left: 144px;

  @include set-media(430px) {
    margin-left: 20px;
  }
}

.app-flex {
  display: flex;
  flex-direction: row;
  @include set-media(430px) {
    display: flex;
    flex-direction: column-reverse;
  }
}
