#page-popular-track {
  margin: 0 auto;
  width: 1240px;
  min-height: 420px;

  @include set-media(414px) {
    margin: 0;
    max-width: 414px;
    height: auto;
    min-height: 630px;
  }
  // кроме высоты проп. для desc и mob
  .tracks {
    margin-bottom: 23px;
    @include h2;

    @include set-media(414px) {
      @include h2-mob;
    }
    color: $white;
  }
}

.track {
  width: 575px;
  margin-top: 25px;
  @include set-media(414px) {
    width: 374px;
  }

  &-info {
    flex-direction: column;
    padding-left: 15px;
  }

  &-timing {
    margin: auto;
    @include small-text;
    color: $gray;
  }

  h3 {
    @include small-text;
    font-weight: bold;
    text-transform: uppercase;
    color: $white;
  }

  span {
    @include small-text;
    color: $gray;
  }

  img {
    width: 55px;
    height: 55px;
  }

  .block {
    flex-grow: 1;
  }
}
