#page-popular-track {
  margin: 0 auto;
  width: 1240px;
  min-height: 420px;

  @include set-media(414px) {
    min-height: 630px;
  }

  .tracks {
    margin-bottom: 23px;
    @include h2;

    @include set-media(414px) {
      @include h2-mob;
    }
    color: $white;
  }
}

.track {
  width: 575px;
  margin-top: 25px;

  &-info {
    // width: fit-content;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 15px;
  }

  &-timing {
    margin: auto;
    @include small-text;
    color: $gray;
  }

  h3 {
    @include small-text;
    font-weight: bold;
    text-transform: uppercase;
    color: $white;
  }

  img {
    width: 55px;
    height: 55px;
  }
}

.artists {
  color: $gray;
}
