#page-pricing {
  padding-top: 100px;

  h2 {
    @include h2;
    @include set-media(430px) {
      @include h2-mob;
    }
  }
  .card-container {
    margin: 45px 0px;
    padding: 0;
    width: 100%;
  }
  .page-text {
    @include text-size-1;
  }
}
