#page-pricing {
  width: 1240px;
  margin: 0 auto;
  height: 908px;

  @include set-media(414px) {
    max-width: 414px;
    margin: 0;
    height: auto;
  }

  h2 {
    @include h2;

    @include set-media(414px) {
      @include h2-mob;
    }
  }

  .card-container {
    width: 100%;
    margin: 45px auto;
    padding: 0;

    @include set-media(414px) {
      max-width: 374px;
      margin: 45px 0 19px 0;
    }
  }
}
