#page-similar {
  margin: 0 auto;
  width: 1240px;
  @include set-media(414px) {
    margin: 0;
    max-width: 414px;
    height: auto;
  }

  .item {
    width: 250px;
    margin: 25px 50px 0 0;

    @include set-media(414px) {
      width: 137px;

      .item-bottom {
        margin-bottom: 0;
      }
    }

    img {
      max-width: 100%;
      border: 0;
      // border-radius: 50%;
    }

    &-name {
      max-width: 100%;
      margin-top: 10px;
      @include h4;
      color: $white;
    }

    &-info {
      @include text-size-1;
      color: $gray;
    }
  }
}
