@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}
* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #cacaca;
  background-color: #08020d;
}

html,
body,
h1,
h2,
h3,
p,
ul,
div,
button {
  padding: 0;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}
@media (max-width: 430px) {
  .container {
    margin: 0 auto;
    padding: 0 20px 0 20px;
  }
}

ul {
  list-style: none;
  text-decoration-style: unset;
}

input {
  color: inherit;
  border: none;
}

input::placeholder {
  color: inherit;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.t-align-center {
  text-align: center;
}

.t-align-start {
  text-align: start;
}

.w-100 {
  width: 100%;
}

.color-white {
  color: #fff;
}

.bg-black {
  background-color: #08020d;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.jc-center {
  justify-content: center;
}

.jc-between {
  justify-content: space-between;
}

.jc-start {
  justify-content: flex-start;
}

.pb-0 {
  padding-bottom: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.header {
  flex-wrap: wrap;
  position: absolute;
  top: 25px;
  right: 0;
  left: 0;
  min-height: 24px;
}
@media (max-width: 430px) {
  .header {
    flex-direction: column;
  }
}

.logo-image {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}
.logo img {
  flex: 0 0 24px;
  width: 100%;
  height: 100%;
}
.logo-title {
  padding-top: 6px;
  flex-grow: 0 0 57px;
  margin-right: 90px;
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
  line-height: 16px;
  text-transform: uppercase;
}
@media (max-width: 430px) {
  .logo {
    margin-bottom: 17px;
  }
}

.nav {
  flex: 1 1 auto;
}

.menu {
  flex-grow: 1;
  padding-top: 6px;
  color: #cacaca;
}

.ul-menu {
  flex-grow: 1;
  flex-wrap: wrap;
}
@media (max-width: 430px) {
  .ul-menu {
    flex-direction: column;
    margin-bottom: 23px;
  }
}

li {
  margin-right: 24px;
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
  line-height: 16px;
  text-transform: uppercase;
}

.input {
  min-width: 248px;
  height: 25px;
  padding-left: 10px;
  font-size: 13.3px;
  font-style: normal;
  font-weight: normal;
  line-height: 15px;
  text-transform: uppercase;
  background: #3c3b3d;
  border: none;
  border-radius: 50px;
}

.input::placeholder {
  color: #757575;
}

#page-description {
  background: url("../images/banner.png") no-repeat center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}
@media (max-width: 430px) {
  #page-description {
    padding-top: 250px;
  }
}
#page-description h1 {
  font-size: 60px;
  font-style: normal;
  font-weight: bold;
  line-height: 90px;
  text-transform: uppercase;
}
@media (max-width: 430px) {
  #page-description h1 {
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    line-height: 45px;
    text-transform: uppercase;
  }
}
#page-description h2 {
  font-size: 38px;
  font-style: normal;
  font-weight: bold;
  line-height: 57px;
  text-transform: uppercase;
}
@media (max-width: 430px) {
  #page-description h2 {
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: 27px;
    text-transform: uppercase;
  }
}
#page-description .sub {
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  margin-top: 32px;
  margin-bottom: 27px;
}
@media (max-width: 430px) {
  #page-description .sub {
    margin-top: 16px;
  }
}

#page-pricing {
  padding-top: 100px;
}
#page-pricing h2 {
  font-size: 38px;
  font-style: normal;
  font-weight: bold;
  line-height: 57px;
  text-transform: uppercase;
}
@media (max-width: 430px) {
  #page-pricing h2 {
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: 27px;
    text-transform: uppercase;
  }
}
#page-pricing .card-container {
  margin: 45px 0px;
  padding: 0;
  width: 100%;
}
#page-pricing .page-text {
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
}

#news {
  padding-top: 100px;
}

.news-item {
  margin-top: 42px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 430px) {
  .news-item .foto-2 {
    order: -1;
  }
}

.news-info {
  max-width: 575px;
  height: auto;
  text-align: left;
}
@media (max-width: 430px) {
  .news-info {
    margin-top: 50px;
  }
}

.news-body h3 {
  font-size: 30px;
  font-style: normal;
  font-weight: normal;
  line-height: 45px;
  text-transform: capitalize;
}
@media (max-width: 430px) {
  .news-body h3 {
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    text-transform: capitalize;
  }
}
.news-body p {
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  padding-top: 30px;
  padding-bottom: 24px;
  color: #cacaca;
}
@media (max-width: 430px) {
  .news-body p {
    padding-top: 16px;
  }
}

.news-footer .news-author {
  display: flex;
  margin-bottom: 50px;
}
.news-footer .avatar {
  width: 19px;
  height: 19px;
  background-image: url(/src/images/avatar.png);
}
.news-footer .autor {
  margin-left: 16px;
  font-size: 12.8px;
  font-style: normal;
  font-weight: normal;
  line-height: 19.2px;
  color: #f89202;
}
.news-footer .date {
  margin-left: 16px;
  font-size: 12.8px;
  font-style: normal;
  font-weight: normal;
  line-height: 19.2px;
  color: #cacaca;
}

h2 {
  font-size: 38px;
  font-style: normal;
  font-weight: bold;
  line-height: 57px;
  text-transform: uppercase;
}
@media (max-width: 430px) {
  h2 {
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: 27px;
    text-transform: uppercase;
  }
}

.foto-1,
.foto-2 {
  width: 575px;
  height: fit-content;
  padding: 0 42px 0 0;
}
@media (max-width: 430px) {
  .foto-1,
.foto-2 {
    padding: 0;
  }
}
.foto-1 .foto-2,
.foto-2 .foto-2 {
  order: -1;
}
.foto-1 img,
.foto-2 img {
  width: 100%;
  height: auto;
}

#footer {
  background: linear-gradient(265.08deg, #95390c 14.9%, #5328a1 68.95%);
}
#footer .links-container {
  display: flex;
  padding: 61px 0 74px;
  flex-wrap: wrap;
  justify-content: flex-between;
}
#footer .links-container > * {
  width: 310px;
  margin-bottom: 30px;
}
#footer .links-container .links-item,
#footer .links-container .links-img {
  max-width: 270px;
}
#footer .links-container .links-item:not(:first-child),
#footer .links-container .links-img {
  margin-left: 40px;
}
@media (max-width: 430px) {
  #footer .links-container .links-item:not(:first-child),
#footer .links-container .links-img {
    margin-left: 0;
  }
}
#footer .links-container .links-title,
#footer .links-container .exclude {
  margin-bottom: 16px;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 27px;
  text-transform: uppercase;
  color: #fff;
}
#footer .links-container li {
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  color: #e0e0e0;
  text-transform: lowercase;
  margin-right: 0;
}
#footer .links-container .links-img > ul {
  display: flex;
  flex-wrap: nowrap;
}
#footer .links-container .links-img li:not(:first-child) {
  margin-left: 24px;
}
#footer .links-container img {
  margin-top: 5px;
  max-height: 20px;
}
#footer .links-container hr {
  margin: 0;
  border: 0;
  border-bottom: 1px solid #e0e0e0;
}
#footer .links-last > ul {
  padding: 40px 0 48px;
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
}
@media (max-width: 430px) {
  #footer .links-last > ul {
    flex-direction: column;
    padding: 20px 0;
  }
}
#footer .links-last li:not(:last-child) {
  margin-right: 15px;
}
@media (max-width: 430px) {
  #footer .links-last li:not(:last-child) {
    margin-bottom: 16px;
  }
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 570px;
  margin: 0 auto 0;
  color: #fff;
}
.form-input {
  flex: 1 1 270px;
  max-width: 270px;
  min-height: 50px;
  margin-bottom: 1.5rem;
  padding: 0 20px;
  background: transparent;
  border: 2px solid #cacaca;
  border-radius: 3px;
}
@media (max-width: 430px) {
  .form-input {
    flex: 1 1 570px;
    max-width: 570px;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn-form {
  flex: 1 1 570px;
  max-width: 570px;
  min-height: 57px;
  background-color: #34c176;
  font-family: Arial, sans-serif;
  font-size: 13.3px;
  font-style: normal;
  font-weight: normal;
  line-height: 15px;
  text-transform: uppercase;
  color: #fff;
  border: none;
}
.btn-card {
  max-width: 100%;
  margin-top: 40px;
  margin-bottom: 64px;
  padding: 20px 0;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  color: #fff;
  border: 1px solid #fff;
}
.btn-feed {
  max-width: 135px;
  height: 53px;
  font-size: 12.8px;
  font-style: normal;
  font-weight: normal;
  line-height: 19.2px;
  text-transform: uppercase;
  border: 1px solid #cacaca;
}

.card {
  width: 368.2px;
  height: 615px;
  padding: 24px 24px 64px 24px;
  border: 1px solid #fff;
  border-radius: 16px;
}
@media (max-width: 430px) {
  .card {
    width: 374px;
    margin-top: 0 0 20px 0;
  }
}
.card-title {
  padding-bottom: 200px;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  line-height: 45px;
}
@media (max-width: 430px) {
  .card-title {
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
  }
}
.card-price {
  font-size: 64px;
  font-style: normal;
  font-weight: normal;
  line-height: 64px;
}
.card-value {
  font-size: 32px;
  font-style: normal;
  font-weight: normal;
  line-height: 48px;
  margin-left: 16px;
}
.card-text {
  font-size: 12.8px;
  font-style: normal;
  font-weight: normal;
  line-height: 19.2px;
}
.card:not(:last-child) {
  margin-right: 45px;
}
@media (max-width: 430px) {
  .card:not(:last-child) {
    width: 374px;
    margin: 0 0 20px 0;
  }
}

.page-text {
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
}

.bg-card-1 {
  background: url("../images/subscribe_1.png") no-repeat center;
  background-size: cover;
}

.bg-card-2 {
  background: url("../images/subscribe_2.png") no-repeat center;
  background-size: cover;
}

.bg-card-3 {
  background: url("../images/subscribe_3.png") no-repeat center;
  background-size: cover;
}