@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #cacaca;
}

body,
h1,
h2,
h3,
p,
ul,
div,
button {
  padding: 0;
  margin: 0;
}

body {
  max-width: 1440px;
  padding: auto 120px;
}

@media (max-width: 425px) {
  body {
    padding: 20px auto;
  }
}

ul {
  list-style: none;
}

input {
  color: inherit;
  border: none;
}

input::-webkit-input-placeholder {
  color: inherit;
  border: none;
}

input::-ms-input-placeholder {
  color: inherit;
  border: none;
}

input:-ms-input-placeholder {
  color: inherit;
  border: none;
}

input::placeholder {
  color: inherit;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-page {
  color: #fff;
  background: #08020d;
}

.t-align-center {
  text-align: center;
}

.t-align-start {
  text-align: start;
}

.w-100 {
  width: 100%;
}

.color-white {
  color: #fff;
}

.color-black {
  color: #08020d;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.jc-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.jc-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.jc-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.pb-0 {
  padding-bottom: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.header {
  position: absolute;
  top: 25px;
  right: 0;
  left: 0;
  max-width: 1480px;
  font-size: 11px;
  font-style: normal;
  font-weight: bold;
  line-height: 13px;
  text-transform: uppercase;
}

.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 120px;
  margin-left: 120px;
}

.header .logo-image {
  width: 24px;
  margin-right: 16px;
}

.header .logo-title {
  padding: 10px 0;
}

.header .menu {
  position: absolute;
  width: 100%;
  margin-left: 180px;
  color: #cacaca;
}

.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

.header li {
  margin-left: 24px;
}

.header .white {
  color: #fff;
}

.header .input {
  position: absolute;
  right: 120px;
  width: 248px;
  height: 25px;
  padding: 0 14px;
  color: #fff;
  background: #3c3b3d;
  border: none;
  border-radius: 50px;
}

.header .input::placeholder {
  color: #757575;
  text-transform: uppercase;
}

.header .input::-webkit-input-placeholder {
  color: #757575;
  text-transform: uppercase;
}

.header .input::-ms-input-placeholder {
  color: #757575;
  text-transform: uppercase;
}

.header .input:-ms-input-placeholder {
  color: #757575;
  text-transform: uppercase;
}

@media (max-width: 425px) {
  .header .logo {
    margin-right: 20px;
    margin-left: 20px;
  }

  .header .logo-image {
    width: 24px;
    margin-right: 20px;
  }

  .header .logo-title {
    padding: 10px 0;
  }

  .header .menu {
    position: relative;
    margin-left: 0;
  }

  .header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 17px;
  }

  .header li {
    margin-bottom: 3px;
    margin-left: 0;
  }

  .header .input {
    position: relative;
    left: 0;
    width: 100%;
    margin-top: 18px;
  }
}

@media (max-width: 1100px) {
  header .input {
    position: absolute;
    margin-top: 75px;
    margin-left: 0;
  }
}

#page-description {
  padding: 200px 120px;
}

@media (max-width: 425px) {
  #page-description {
    padding: 250px 20px;
  }
}

#page-description h1 {
  font-size: 60px;
  font-style: normal;
  font-weight: bold;
  line-height: 90px;
  text-transform: uppercase;
}

@media (max-width: 425px) {
  #page-description h1 {
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    line-height: 45px;
    text-transform: uppercase;
  }
}

#page-description h2 {
  font-size: 38px;
  font-style: normal;
  font-weight: bold;
  line-height: 57px;
  text-transform: uppercase;
}

@media (max-width: 425px) {
  #page-description h2 {
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: 27px;
    text-transform: uppercase;
  }
}

#page-description .sub {
  margin-top: 32px;
  margin-bottom: 27px;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
}

@media (max-width: 425px) {
  #page-description .sub {
    margin-top: 16px;
  }
}

.banner-page {
  background: url("../images/banner.png") no-repeat center;
  background-size: cover;
}

.page-artists {
  background: url("../images/Morten Harket.png") no-repeat center;
  background-size: cover;
}

.page-artists h1 {
  font-size: 60px;
  font-style: normal;
  font-weight: bold;
  line-height: 90px;
  text-transform: uppercase;
}

@media (max-width: 425px) {
  .page-artists h1 {
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    line-height: 45px;
    text-transform: uppercase;
  }
}

.page-artists .sub {
  margin-top: 16px;
  margin-bottom: 48px;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
}

@media (max-width: 425px) {
  .page-artists .sub {
    margin-top: 16px;
  }
}

#page-pricing {
  max-width: 1200px;
  padding-top: 100px;
  margin: 0 auto;
  text-align: center;
}

#page-pricing h2 {
  font-size: 38px;
  font-style: normal;
  font-weight: bold;
  line-height: 57px;
  text-transform: uppercase;
}

@media (max-width: 425px) {
  #page-pricing h2 {
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: 27px;
    text-transform: uppercase;
  }
}

@media (max-width: 425px) {
  #page-pricing {
    padding: 100px 20px 1px;
  }
}

#page-pricing .flex-container {
  width: 100%;
  padding: 0;
  margin: 45px 0;
}

@media (max-width: 425px) {
  #page-pricing .flex-container {
    margin: 45px 0 20px 0;
  }
}

#footer {
  background: linear-gradient(265.08deg, #95390c 14.9%, #5328a1 68.95%);
}

#footer .links-group {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 425px) {
  #footer .links-group {
    padding: 0 20px;
  }
}

#footer .links-group .links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 61px 0 74px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: flex-between;
  -ms-flex-pack: flex-between;
  justify-content: flex-between;
}

#footer .links-group .links-container > * {
  width: 310px;
  margin-bottom: 30px;
}

#footer .links-group .links-img {
  width: 270px;
}

#footer .links-group .links-img > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#footer .links-group .links-title {
  margin-bottom: 16px;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 27px;
  color: #fff;
  text-transform: uppercase;
}

#footer .links-group .exclude {
  margin-bottom: 16px;
  font-size: 17px;
  font-style: normal;
  font-weight: bold;
  line-height: 27px;
  color: #fff;
  text-transform: uppercase;
}

#footer .links-group a {
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
}

#footer .links-group img {
  max-height: 20px;
  margin-top: 5px;
  margin-right: 24px;
}

#footer .links-group hr {
  margin: 0;
  border: 0;
  border-bottom: 1px solid #e0e0e0;
}

#footer .links-last {
  max-width: 1200px;
  margin: 0 auto;
}

#footer .links-last > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 40px 0 48px;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
}

@media (max-width: 425px) {
  #footer .links-last > ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20px;
  }
}

#footer .links-last li:not(:last-child) {
  margin-right: 15px;
}

@media (max-width: 425px) {
  #footer .links-last li:not(:last-child) {
    margin-bottom: 16px;
  }
}

#news {
  padding: 100px 120px 0 120px;
}

@media (max-width: 425px) {
  #news {
    padding: 100px 20px 0 20px;
  }
}

.news-item {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 42px;
}

@media (max-width: 425px) {
  .news-item .foto-2 {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
}

.news-info {
  max-width: 575px;
  height: auto;
  text-align: left;
}

@media (max-width: 425px) {
  .news-info {
    margin-top: 50px;
  }
}

.news-body h3 {
  font-size: 30px;
  font-style: normal;
  font-weight: normal;
  line-height: 45px;
  text-transform: capitalize;
}

@media (max-width: 425px) {
  .news-body h3 {
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    text-transform: capitalize;
  }
}

.news-body p {
  padding-top: 30px;
  padding-bottom: 24px;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  color: #cacaca;
}

@media (max-width: 425px) {
  .news-body p {
    padding-top: 16px;
  }
}

.news-footer .news-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.news-footer .avatar {
  width: 19px;
  height: 19px;
  background-image: url(/src/images/avatar.png);
}

.news-footer .autor {
  margin-left: 16px;
  font-size: 12.8px;
  font-style: normal;
  font-weight: normal;
  line-height: 19.2px;
  color: #f89202;
}

.news-footer .date {
  margin-left: 16px;
  font-size: 12.8px;
  font-style: normal;
  font-weight: normal;
  line-height: 19.2px;
  color: #cacaca;
}

h2 {
  font-size: 38px;
  font-style: normal;
  font-weight: bold;
  line-height: 57px;
  text-transform: uppercase;
}

@media (max-width: 425px) {
  h2 {
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: 27px;
    text-transform: uppercase;
  }
}

.foto-1,
.foto-2 {
  width: 575px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 42px 0 0;
}

@media (max-width: 425px) {
  .foto-1,
  .foto-2 {
    padding: 0 20px 0 20px;
  }
}

.foto-1 img,
.foto-2 img {
  width: 100%;
  height: auto;
}

#page-app {
  padding: 100px 120px 100px 120px;
}

@media (max-width: 425px) {
  #page-app {
    height: 822px;
    padding: 100px 20px 200px 20px;
  }
}

.app-text {
  width: 600px;
  height: 112px;
  margin-top: 64px;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  color: #cacaca;
  text-align: left;
}

@media (max-width: 425px) {
  .app-text {
    width: 370px;
    height: 184px;
    margin-top: 16px;
  }
}

.iphone {
  width: 333px;
  height: 278px;
  margin-top: 48px;
  margin-left: 144px;
}

@media (max-width: 425px) {
  .iphone {
    margin-left: 20px;
  }
}

.app-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

@media (max-width: 425px) {
  .app-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}

#page-similar {
  max-width: 1440px;
  height: 968px;
  padding: 100px 120px 0 120px;
  color: #e0e0e0;
}

@media (max-width: 425px) {
  #page-similar {
    height: 1270px;
    padding-right: 0;
    padding-left: 20px;
  }
}

#page-similar img {
  width: 250px;
  height: 250px;
  padding-bottom: 18px;
  border: 0;
  border-radius: 50%;
}

@media (max-width: 425px) {
  #page-similar img {
    width: 137px;
    height: 137px;
  }
}

#page-similar .item-name {
  width: 250px;
}

@media (max-width: 425px) {
  #page-similar .item-name {
    width: 137px;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 570px;
  margin: 0 auto 0;
  color: #fff;
}

.form-input {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 270px;
  flex: 1 1 270px;
  max-width: 270px;
  min-height: 50px;
  padding: 0 20px;
  margin-bottom: 1.5rem;
  background: transparent;
  border: 2px solid #cacaca;
  border-radius: 3px;
}

@media (max-width: 425px) {
  .form-input {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 570px;
    flex: 1 1 570px;
    max-width: 570px;
    margin-right: 30px;
    margin-left: 30px;
  }
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  background: none;
  border-radius: 5px;
}

.btn-form {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 570px;
  flex: 1 1 570px;
  max-width: 570px;
  min-height: 57px;
  font-family: Arial, sans-serif;
  font-size: 13.3px;
  font-style: normal;
  font-weight: normal;
  line-height: 15px;
  color: #fff;
  text-transform: uppercase;
  background-color: #34c176;
  border: none;
}

@media (max-width: 425px) {
  .btn-form {
    margin: 0 30px;
  }
}

.btn-card {
  max-width: 100%;
  padding: 20px 0;
  margin-top: 40px;
  margin-bottom: 64px;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  color: #fff;
  border: 1px solid #fff;
}

.btn-feed {
  width: 135px;
  height: 53px;
  font-size: 12.8px;
  font-style: normal;
  font-weight: normal;
  line-height: 19.2px;
  text-transform: uppercase;
  border: 1px solid #cacaca;
}

.btn-download {
  max-width: 131px;
  height: 53px;
  margin-top: 16px;
  margin-bottom: 100px;
  font-size: 12.8px;
  font-style: normal;
  font-weight: normal;
  line-height: 19.2px;
  background-color: #95390c;
  border-radius: 32px;
}

.btn-description-purple,
.btn-description-red {
  justify-content: flex-start;
  width: 200px;
  height: 62px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  font-size: 12.8px;
  font-style: normal;
  font-weight: normal;
  line-height: 19.2px;
  text-transform: uppercase;
}

.btn-description-purple {
  margin-right: 24px;
  background-color: #5328a1;
  border: 0;
}

@media (max-width: 425px) {
  .btn-description-purple {
    margin-bottom: 24px;
  }
}

.btn-description-red {
  background-color: #95390c;
  border: 0;
}

.btn-icon {
  width: 20px;
  height: 20px;
  margin-right: 16px;
  margin-left: 31px;
}

.card {
  width: 368.6px;
  height: 615px;
  padding: 24px 24px 64px 24px;
  border: 1px solid #fff;
  border-radius: 16px;
}

@media (max-width: 425px) {
  .card {
    width: 374px;
    margin-top: 0 0 20px 0;
  }
}

.card-title {
  padding-bottom: 200px;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  line-height: 45px;
  text-transform: uppercase;
}

@media (max-width: 425px) {
  .card-title {
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
  }
}

.card-price {
  font-size: 64px;
  font-style: normal;
  font-weight: normal;
  line-height: 64px;
}

.card-value {
  margin-left: 16px;
  font-size: 32px;
  font-style: normal;
  font-weight: normal;
  line-height: 48px;
}

.card-text {
  font-size: 12.8px;
  font-style: normal;
  font-weight: normal;
  line-height: 19.2px;
}

.card:not(:last-child) {
  margin-right: 45px;
}

@media (max-width: 425px) {
  .card:not(:last-child) {
    width: 374px;
    margin: 0 0 20px 0;
  }
}

.page-text {
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
}

.bg-card-1 {
  background: url("../images/subscribe_1.png") no-repeat center;
  background-size: cover;
}

.bg-card-2 {
  background: url("../images/subscribe_2.png") no-repeat center;
  background-size: cover;
}

.bg-card-3 {
  background: url("../images/subscribe_3.png") no-repeat center;
  background-size: cover;
}

#page-popular-tracks {
  max-width: 1440px;
  height: 420px;
  padding: 100px 120px 0 120px;
}

@media (max-width: 425px) {
  #page-popular-tracks {
    height: 630px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

#page-popular-tracks .tracks {
  margin-bottom: 48px;
  font-size: 38px;
  font-style: normal;
  font-weight: bold;
  line-height: 57px;
  color: #fff;
  text-transform: uppercase;
}

@media (max-width: 425px) {
  #page-popular-tracks .tracks {
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: 27px;
    text-transform: uppercase;
  }
}

#page-popular-tracks .track-info,
#page-popular-tracks .track-timing {
  font-size: 12.8px;
  font-style: normal;
  font-weight: normal;
  line-height: 19.2px;
}

#page-popular-tracks .track-name {
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

#page-popular-tracks .artists,
#page-popular-tracks .track-timing {
  color: #e0e0e0;
}

.trakcs-container {
  max-width: 1200px;
  max-height: 215px;
}

.track {
  width: 575px;
  margin-bottom: 25px;
}

.track img {
  width: 55px;
  height: 55px;
}

.track-info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-left: 15px;
}

.track-timing {
  margin: auto;
}

#page-discography {
  max-width: 1440px;
  height: 868px;
  padding: 100px 120px 0 120px;
  color: #e0e0e0;
}

@media (max-width: 425px) {
  #page-discography {
    height: 897px;
    padding-right: 0;
    padding-left: 20px;
  }
}

.title {
  margin-bottom: 48px;
  font-size: 38px;
  font-style: normal;
  font-weight: bold;
  line-height: 57px;
  text-transform: uppercase;
}

@media (max-width: 425px) {
  .title {
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: 27px;
    text-transform: uppercase;
  }
}

.item {
  width: 250px;
  height: auto;
  margin-right: 50px;
  margin-bottom: 25px;
}

@media (max-width: 425px) {
  .item {
    width: 137px;
    height: auto;
  }
}

.item-name {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 27px;

  /* text-transform: uppercase; */
  text-transform: capitalize;
}

@media (max-width: 425px) {
  .item-name {
    width: 138px;
    letter-spacing: -0.6px;
  }
}

.item-info {
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
}

.item img {
  width: 250px;
  height: 250px;
  padding-bottom: 18px;
}

@media (max-width: 425px) {
  .item img {
    width: 137px;
    height: 137px;
  }
}
