.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  background: none;

  border-radius: 5px;

  cursor: pointer;

  // получить доступ
  &-form {
    flex: 1 1 570px;
    max-width: 570px;
    min-height: 57px;

    font-family: Arial, sans-serif;

    color: $white;

    background-color: $green;

    @include main-btn;

    border: none;
  }

  &-card {
    max-width: 100%;
    margin-top: 40px;
    margin-bottom: 64px;
    padding: 20px 30px;

    @include set-text(16px, 24px);
    color: $white;

    border: 1px solid $white;
  }

  // К альбому

  &-feed {
    max-width: 135px;
    height: 53px;
    padding: 16px 30px;

    @include small-text-upp;
    font-size: 12px;

    border: 1px solid $dark-gray;
  }

  // Скачать
  &-download {
    max-width: 131px;
    height: 53px;
    margin-top: 16px;
    padding: 16px 40px;

    @include set-media(414px) {
      margin-bottom: 100px;
    }
    background-color: $red;

    border-radius: 32px;

    @include small-text;
  }

  //   // choose

  &-description-purple,
  &-description-red {
    justify-content: flex-start;
    width: 200px;
    height: 62px;

    padding: 20px 30px;

    @include small-text-upp;

    border: 0;
  }

  &-description-purple {
    margin-right: 24px;

    background-color: $purple;

    @include set-media(414px) {
      margin-bottom: 24px;
    }
  }

  &-description-red {
    background-color: $red;
  }

  &-icon {
    width: 20px;
    height: 20px;
    margin-right: 16px;
    margin-left: 0;
  }
}
