// position: absolute;
// width: 368.2px;
// height: 615px;
// left: 122px;
// top: 203px;

// background: url(subscribe_1.png);
.card {
  width: 368.6px;
  height: 615px;
  padding: 24px 24px 64px 24px;

  border: 1px solid $white;
  border-radius: 16px;

  @include set-media(414px) {
    width: 374px;
    margin-top: 0 0 20px 0;

    // * отступы карточек
  }
  &-title {
    padding-bottom: 200px;
    @include h3;
    @include set-media(414px) {
      @include h3-mob;
    }
  }
  &-price {
    @include card-price;
  }

  &-value {
    @include text-size-3;
    margin-left: 16px;
  }

  &-text {
    @include small-text;
  }
}

.card:not(:last-child) {
  margin-right: 45px;

  @include set-media(414px) {
    width: 374px;
    margin: 0 0 20px 0;
  }
}

.page-text {
  @include text-size-1;
}

.bg-card-1 {
  @include bg-image("subscribe_1.png");
}

.bg-card-2 {
  @include bg-image("subscribe_2.png");
}

.bg-card-3 {
  @include bg-image("subscribe_3.png");
}
