.card {
  width: 369px;
  height: 615px;
  padding: 24px 26px 64px 24px;
  border-radius: 16px;

  @include set-media(414px) {
    width: 374px;
    height: auto;
    padding: 16px 26px 86px 24px;
  }
  // * отступы карточек

  &-title {
    margin-top: 3px;
    margin-bottom: 200px;
    @include set-header(24px, 36px, normal);
    text-transform: uppercase;
    @include set-media(414px) {
      @include h3-mob;
      font-weight: 400;
    }
  }

  &-price {
    height: 64px;
    @include card-price;
  }

  &-value {
    @include text-size-3;
    margin-left: 16px;
  }

  &-text {
    @include small-text;
  }

  &:not(:last-child) {
    margin-right: 45px;

    @include set-media(414px) {
      width: 374px;
      margin: 0 0 27px 0;
    }
  }
}

.card-type {
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.page-text {
  @include text-size-1;
  @include set-media(414px) {
    max-width: 374px;
  }
}

.bg-card-1 {
  @include bg-image("subscribe_1.png");
}

.bg-card-2 {
  @include bg-image("subscribe_2.png");
}

.bg-card-3 {
  @include bg-image("subscribe_3.png");
  .card-text {
    padding: 0 2px;
  }
}
