#page-discography {
  max-width: 1440px;
  height: auto;
  padding: 75px 120px 0 120px;
  // align-items: center;
  color: $gray;

  @include set-media(425px) {
    padding-left: 20px;
    padding-right: 0;
  }

  .disks {
    margin-bottom: 48px;
    @include h2;
    text-transform: uppercase;

    @include set-media(425px) {
      @include h2-mob;
    }
  }
}

img {
  width: 137px;
  height: 137px;
}
// !!НАДО ли??

.disk {
  width: 137px;
  height: 137px;
  margin-right: 50px;
  margin-bottom: 25px;

  &-name {
    @include h4;

    // !! разобраться со шрифтом
  }

  &-date {
    @include text-size-1;
  }

  img {
    width: 250px;
    height: 250px;

    @include set-media(425px) {
      width: 137px;
      height: 137px;
    }

    padding-bottom: 18px;
  }
}
