.footer {
  margin-top: 100px;
  padding-top: 0;
  @include col-gradient($red, $purple);
  & .links-container {
    display: flex;
    padding: 60px 0 73px;
    flex-wrap: wrap;
    justify-content: flex-between;
    @include set-media(414px) {
      width: 100%;
      padding: 62px 0 73px;
    }

    & > * {
      width: 100%;
      @include set-media(414px) {
        margin-bottom: 30px;
      }
    }

    .links-item,
    .links-img {
      max-width: 270px;
      @include set-media(414px) {
        max-width: 374px;
      }
    }

    .links-item:not(:first-child),
    .links-img {
      margin-left: 40px;

      @include set-media(414px) {
        margin-left: 0;
        margin-bottom: 30px;
      }
    }

    .links-img {
      @include set-media(414px) {
        margin-bottom: 0;
      }
    }

    .links-title,
    .exclude {
      margin-bottom: 16px;
      @include h2-mob;
      color: $white;
    }

    li {
      @include text-size-1;
      color: $gray;
      text-transform: none;
      margin-right: 0;
      @include set-media(414px) {
        padding-bottom: 0;
      }
    }

    .links-img {
      & > ul {
        display: flex;
        flex-wrap: nowrap;
        max-height: 24px;
      }

      li:not(:first-child) {
        margin-left: 24px;
      }
    }

    img {
      margin-top: 5px;
      max-height: 20px;
      @include set-media(414px) {
        margin-top: 0;
        max-height: 20px;
        padding-top: 3px;
        padding-bottom: 0;
      }
    }

    .special {
      max-width: fit-content;
      @include set-media(414px) {
        margin-top: 0;
        padding-top: 0;
        max-height: 20px;
        &:not(:last-child) {
          margin-bottom: 3px;
        }
      }
    }
    .adress {
      @include set-media(414px) {
        margin-top: 0;
        padding-top: 0;
        max-height: 24px;
        margin-bottom: 2px;
      }
    }

    hr {
      border: 1px solid $gray;
    }
  }
}

.links-last {
  & > ul {
    padding: 40px 0 48px;
    display: flex;
    flex-wrap: wrap;
    @include set-media(414px) {
      flex-direction: column;
      padding: 20px 0;
    }
  }

  & > ul > li {
    @include text-size-1;
    text-transform: none;
  }

  li:not(:last-child) {
    margin-right: 15px;

    @include set-media(414px) {
      margin-bottom: 16px;
    }
  }
}
