#footer {
  @include col-gradient($red, $purple);
  & .links-container {
    display: flex;
    padding: 61px 0 74px;
    flex-wrap: wrap;
    justify-content: flex-between;

    & > * {
      width: 310px;
      margin-bottom: 30px;
    }

    .links-item,
    .links-img {
      max-width: 270px;
    }

    .links-item:not(:first-child),
    .links-img {
      margin-left: 40px;

      @include set-media(414px) {
        margin-left: 0;
      }
    }

    .links-title,
    .exclude {
      margin-bottom: 16px;
      @include h2-mob;
      color: $white;
    }

    li {
      @include text-size-1;
      color: $gray;
      text-transform: lowercase;
      margin-right: 0;
    }

    .links-img {
      & > ul {
        display: flex;
        flex-wrap: nowrap;
      }

      li:not(:first-child) {
        margin-left: 24px;
      }
    }

    img {
      margin-top: 5px;
      max-height: 20px;
    }

    hr {
      margin: 0;
      border: 0;
      border-bottom: 1px solid $gray;
    }
  }

  & .links-last {
    & > ul {
      padding: 40px 0 48px;
      display: flex;
      flex-wrap: wrap;
      @include text-size-1;
      @include set-media(414px) {
        flex-direction: column;
        padding: 20px 0;
      }
    }

    li:not(:last-child) {
      margin-right: 15px;

      @include set-media(414px) {
        margin-bottom: 16px;
      }
    }
  }
}
