.footer {
  margin: 100px auto 0 auto;
  width: 1240px;
  @include set-media(414px) {
    width: 100%;
  }
  // padding-top: 0;
  @include col-gradient($red, $purple);

  & .links-container {
    display: flex;
    padding: 60px 0 73px;
    flex-wrap: wrap;
    justify-content: flex-between;

    & > * {
      width: 310px;
      @include set-media(414px) {
        margin-bottom: 30px;
      }
    }

    .links-item,
    .links-img {
      max-width: 270px;
    }

    .links-item:not(:first-child) {
      margin-left: 40px;
      @include set-media(414px) {
        margin-left: 0;
        margin-bottom: 30px;
      }
    }
    .links-img {
      margin-left: 40px;
      @include set-media(414px) {
        margin-left: 0;
        margin-bottom: 0;
      }
    }

    .links-title,
    .exclude {
      margin-bottom: 16px;
      @include h2-mob;
      color: $white;
    }

    li {
      @include text-size-1;
      color: $gray;
      text-transform: lowercase;
      margin-right: 0;
    }

    .links-img {
      & > ul {
        display: flex;
        flex-wrap: nowrap;
      }

      li:not(:first-child) {
        margin-left: 24px;
      }
    }

    img {
      margin-top: 5px;
      max-height: 20px;
    }

    hr {
      border: 1px solid gray;
    }
  }

  & .links-last {
    & > ul {
      padding: 40px 0 48px;
      display: flex;
      flex-wrap: wrap;
      @include text-size-1;
      color: #e0e0e0;
      @include set-media(414px) {
        flex-direction: column;
        padding: 20px 0;
      }
    }

    li:not(:last-child) {
      margin-right: 15px;

      @include set-media(414px) {
        margin-bottom: 16px;
      }
    }
  }
}
