.header {
  position: absolute;
  flex-wrap: wrap;
  top: 25px;
  right: 0;
  left: 0;
  min-height: 24px;
  @include set-media(430px) {
    flex-direction: column;
  }
}

.logo {
  max-width: fit-content;
  &-image {
    width: 24px;
    height: 24px;

    margin-right: 16px;
  }

  & img {
    flex: 0 0 24px;
    width: 100%;
    height: 100%;
  }

  &-title {
    flex-grow: 0 0 59px;
    padding-top: 4px;

    @include menu-font;
  }
  @include set-media(430px) {
    margin-right: 0;
    @include menu-font-mob;
  }
}

.nav {
  width: 675px;
  flex: 0 0 auto;

  @include set-media(430px) {
    width: fit-content;
    margin-top: 15px;
  }

  .menu {
    padding-top: 5px;

    color: $dark-gray;
    @include set-media(430px) {
      padding-top: 2px;
    }
  }
}

.ul-menu {
  flex-wrap: wrap;
  @include set-media(430px) {
    flex-direction: column;
  }
}

li {
  margin-right: 24px;
  @include menu-font;
  @include set-media(430px) {
    &:not(:last-child) {
      padding-bottom: 3px;
    }
    margin-right: 0px;
    @include menu-font-mob;
  }
}

.input {
  min-width: 248px;
  height: 25px;
  padding-left: 10px;

  @include main-btn;
  background: $dark;
  border: none;
  border-radius: 50px;

  @include set-media(430px) {
    margin-top: 16px;
  }
}

.input::placeholder {
  color: $placeholder;
}
