.header {
  position: absolute;
  flex-wrap: wrap;
  top: 25px;
  right: 0;
  left: 0;
  min-height: 24px;
  @include set-media(430px) {
    flex-direction: column;
  }
}

.logo {
  width: 97px;
  &-image {
    width: 24px;
    height: 24px;

    margin-right: 16px;
  }

  & img {
    flex: 0 0 24px;
    width: 100%;
    height: 100%;
  }

  &-title {
    padding-top: 4px;
    flex-grow: 0 0 57px;

    @include menu-font;
  }
  @include set-media(430px) {
    margin-right: 0;
  }
}

.nav {
  width: 675px;
  flex: 0 0 auto;
  @include set-media(430px) {
    max-width: fit-content;
    margin-top: 16px;
  }

  .menu {
    color: $dark-gray;
  }
}

.ul-menu {
  // flex-grow: 1;
  flex-wrap: wrap;
  @include set-media(430px) {
    flex-direction: column;
  }
}

li {
  margin-right: 24px;
  @include menu-font;
  @include set-media(430px) {
    margin-right: 0;
  }
}

.input {
  min-width: 248px;
  height: 25px;
  padding-left: 10px;

  @include main-btn;
  background: $dark;
  border: none;
  border-radius: 50px;

  @include set-media(430px) {
    margin-top: 16px;
  }
}

.input::placeholder {
  color: $placeholder;
}
