.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 570px;
  margin: 0 auto 0;
  color: $white;

  &-input {
    flex: 1 1 270px;
    max-width: 270px;
    min-height: 50px;
    margin-bottom: 1.5rem;
    padding: 0 20px;
    background: transparent;
    border: 2px solid $dark-gray;
    border-radius: 3px;

    @include set-media(430px) {
      flex: 1 1 570px;
      max-width: 570px;
    }
  }
}
