// типовые величины и основные константы (отступы, выравнивания и т.д.)
.t-align-center {
  text-align: center;
}

.t-align-start {
  text-align: start;
}

.w-100 {
  width: 100%;
}

.color-white {
  color: $white;
}

.color-black {
  color: $black;
}

.purple {
  color: $purple;
}

.red {
  color: $red;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.jc-center {
  justify-content: center;
}

.jc-between {
  justify-content: space-between;
}

.jc-start {
  justify-content: flex-start;
}
