// типовые величины и основные константы (отступы, выравнивания и т.д.)

.h1 {
  @include set-header(60px, 90px, bold);
}

.h1-mob {
  @include set-header(30px, 45px, bold);
}

.h2 {
  @include set-header(38px, 57px, bold);
}

.h2-mob {
  @include set-header(18px, 27px, bold);
}

.h3 {
  @include set-header(24px, 45px, normal);
}

.h3-mob {
  @include set-header(16px, 24px, bold);
}

.h3-cap {
  @include set-header-cap(24px, 45px, normal);
}

.h3-cap-bold {
  @include set-header-cap(24px, 45px, bold);
}

.h4 {
  @include set-header(18px, 27px, bold);
}

.h4-mob {
  @include set-header(18px, 24px, bold);
}

.h4-cap-bold {
  @include set-header-cap(18px, 27px, bold);
}

.menu-font {
  @include set-header(11px, 13px, bold);
}

.holder-font {
  font-family: Arial, sans-serif;

  @include set-header(13.3px, 15px, normal);
}

// .d-flex {
//   display: flex;
// }

// .flex-column {
//   flex-direction: column;
// }

// .flex-wrap {
//   flex-wrap: wrap;
// }

// .jc-center {
//   justify-content: center;
// }

// .jc-between {
//   justify-content: space-between;
// }

// .align-items-center {
//   align-items: center;
// }

// .talign-center {
//   text-align: center;
// }

.w-100 {
  width: 100%;
}

.pt-100 {
  padding-top: 100px;
}
