// типовые величины и основные константы (отступы, выравнивания и т.д.)
.t-align-center {
  text-align: center;
}

.w-100 {
  width: 100%;
}

.color-white {
  color: $white;
}

.color-black {
  color: $black;
}

.d-flex {
  display: flex;
}

// .flex-col {
//   flex-direction: column;
// }

.flex-wrap {
  flex-wrap: wrap;
}

.jc-center {
  justify-content: center;
}

.jc-between {
  justify-content: space-between;
}

// .align-items-center {
//   align-items: center;
// }
