// Переменные - базовые цвета, типографика(миксины)

$white: #fff;
$black: #08020d;
$green: #34c176;
$orange: #f89202;
$red: #95390c;
$purple: #5328a1;

$gray: #e0e0e0;
$dark-gray: #cacaca;
$dark: #3c3b3d;
$placeholder: #757575;

// миксин для установки шрифтов H1-H4 descktop & mobil

@mixin set-header($font-size, $line-height, $font-weight) {
  font-size: $font-size;
  font-style: normal;
  font-weight: $font-weight;
  line-height: $line-height;
  text-transform: uppercase;
}

@mixin set-header-cap($font-size, $line-height, $font-weight) {
  font-size: $font-size;
  font-style: normal;
  font-weight: $font-weight;
  line-height: $line-height;
}

// миксин для рядового текста

@mixin set-text($font-size, $line-height) {
  font-size: $font-size;
  font-style: normal;
  font-weight: normal;
  line-height: $line-height;
}

// шрифт Popular Track small bold

@mixin menu-header($font-size, $line-height, $font-weight) {
  font-size: $font-size;
  font-style: normal;
  font-weight: $font-weight;
  line-height: $line-height;
  text-transform: uppercase;
}

// @mixin pop-track {
//   font-size: 12.8px;
//   font-style: normal;
//   font-weight: bold;
//   line-height: 150%; /* or 19px */
//   text-transform: uppercase;
// }

@mixin bg-image($image) {
  text-align: center;
  background: url("../images/#{$image}");
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin set-media($level) {
  @media (max-width: ($level)) {
    @content;
  }
}

@mixin col-gradient($color-1, $color-2) {
  background: linear-gradient(265.08deg, $color-1 14.9%, $color-2 68.95%);
}

@mixin h1 {
  @include set-header(60px, 90px, bold);
}

@mixin h1-mob {
  @include set-header(30px, 45px, bold);
}

@mixin h2 {
  @include set-header(38px, 57px, bold);
}

@mixin h2-mob {
  @include set-header(18px, 27px, bold);
}

@mixin text-size-1 {
  @include set-text(16px, 24px);
}

@mixin menu-font {
  @include set-header(11px, 13px, bold);
}

@mixin bg-footer {
  @include col-gradient($red, $purple);
}

// %h3 {
//   @include set-header(24px, 45px, normal);
// }

// %h3-mob {
//   @include set-header(16px, 24px, bold);
// }

// %h3-cap {
//   @include set-header-cap(24px, 45px, normal);
// }

// %h3-cap-bold {
//   @include set-header-cap(24px, 45px, bold);
// }

// %h4 {
//   @include set-header(18px, 27px, bold);
// }

// %h4-mob {
//   @include set-header(18px, 24px, bold);
// }

// %h4-cap-bold {
//   @include set-header-cap(18px, 27px, bold);
// }
// %holder-font {
//   font-family: Arial, sans-serif;

//   @include set-header(13.3px, 15px, normal);
// }
