// Внутри этого файла подключайте все созданные SASS файлы. Именно этот файл и будет преобразован в css.
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}

@import "variables";
@import "general";
@import "atomic";

@import "./pages/Banner";
@import "./pages/pricing";
@import "./pages/news";
@import "./pages/page-app";
@import "./pages/similar";
@import "./pages/pop-tracks";
@import "./pages/discography";
@import "./elements/Header";
@import "./elements/footer";
@import "./elements/input";
@import "./elements/btn";
@import "./elements/card";
