// Внутри этого файла подключайте все созданные SASS файлы. Именно этот файл и будет преобразован в css.
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}

@import "variables";
@import "general";
@import "atomic";

@import "../scss/pages/Banner";
@import "../scss/pages/pricing";
@import "../scss/pages/news";
@import "../scss/pages/page-app";
//@import "../scss/pages/similar";
//@import "../scss/pages/pop-tracks";
//@import "../scss/pages/discography";
@import "../scss/elements/Header";
@import "../scss/elements/footer";
@import "../scss/elements/input";
@import "../scss/elements/btn";
@import "../scss/elements/card";
