// Основные настройки, шаблоны типовых блоков и миксины
// Внутри файла расположите базовые стили проекта, которые не привязаны к конкретной секции.

@font-face {
  font-family: "Rboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Rpbpto-Bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #cacaca;
  background-color: #08020d;
}

body,
h1,
h2,
h3,
p,
ul,
button {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

input,
input::placeholder {
  color: inherit;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}
