// Переменные - базовые цвета, типографика

$white: #fff;
$black: #08020d;
$green: #34c176;
$orange: #f89202;
$red: #95390c;
$purple: #5328a1;

$gray: #e0e0e0;
$dark-gray: #cacaca;
$dark: #3c3b3d;

$type-base: 16px;

@mixin set-header($font-size, $line-height) {
  font-size: $font-size;
  font-weight: bold;
  line-height: $line-height;
  text-transform: uppercase;
}

@mixin set-text($font-size, $line-height) {
  font-size: $font-size;
  font-weight: bold;
  line-height: $line-height;
  text-transform: uppercase;
}
